.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #000;
  height: 56px;
}

.toolbar_navigation {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 1rem;
}

.toolbar_logo {
  margin-left: 1rem;
}
.toolbar_logo a {
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
}

.toolbar_navigation-items ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.spacer {
  flex: 1;
}
.toolbar_navigation-items li {
  padding: 0 0.5rem;
}

.toolbar_navigation-items a {
  color: #fff;
  text-decoration: none;
}
.toolbar_navigation-items a:hover {
}
.toolbar_navigation-items a:active {
  color: red;
}
