.container {
  width: 95%;
  height: 50px;
  border: 1px solid #000;
  border-radius: 5px;
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-decoration: none;
}
